streamlit
python-dotenv

# LangChain core
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface

# Embeddings
sentence-transformers

# Vector DB
faiss-cpu

# Document loaders
pypdf
docx2txt
python-pptx
unstructured

# Optional but recommended (PDF robustness)
pdf2image
pillow